*{
	padding: 0;
	margin: 0;
}
html, body{
	background: #f2f2f2;
	height: 100%;
	font-family: arial;
}
header{
	height: 100%;
	background: url(../images/bg_bird.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}
.top-menu{
	text-align: right;
	padding: 0.5em 1em;
}
.top-menu button{
	-moz-box-shadow: 0px 1px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 1px 14px -7px #3e7327;
	box-shadow: 0px 1px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.top-menu button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.top-menu button:active {
	position:relative;
	top:1px;
}
/* -------------------------------------------------- */
/*                        POPUP                       */
/* -------------------------------------------------- */
.overlay{
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}
.active{
	visibility: visible;
}
.popup{
	background: #f8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8);
	border-radius: 3px;
	font-family: sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;

}
.popup .btn-cerrar-popup{
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #bbb;
	transition: .3s ease all;
}
.popup .btn-cerrar-popup:hover{
	color: #000;
}
.popup h3{
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 10px;
	opacity: 0;
}
.popup h4{
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #777;
	opacity: 0;
}

.popup form .contenedor-inputs, .popup form .btn-submit{
	opacity: 0;
}
.popup form .contenedor-inputs input{
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	text-align: center;
	border:1px solid #bbb;
}
.popup form .btn-submit{
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border:none;
	color: #fff;
	background: #5e7de3;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}
.popup form .btn-submit:hover{
	background: rgba(94,125,227,.8);
}
/* -------------------------------------------------- */
/*                        ANIME                       */
/* -------------------------------------------------- */
.popup.active{
	opacity: 1;
	transform: scale(1);
}
.popup.active h3{
	animation: entradatitulo .8s ease .2s forwards;
}
.popup.active h4{
	animation: entradasubtitulo .8s ease .2s forwards;
}
.popup.active .contenedor-inputs{
	animation: entradainputs .8s ease .6s forwards;
}
.popup.active .btn-submit{
	animation: btnlogin .8s ease .6s forwards;
}
@keyframes entradatitulo{
	from{
		transform: translateY(-25px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradasubtitulo{
	from{
		transform: translateY(25px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradainputs{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes btnlogin{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

/* -------------------------------------------------- */
/*                        END ANIME                   */
/* -------------------------------------------------- */

header h1{
	font-family: 'Josefin Slab';
	color: #f2f2f2;
	padding: 1em;
	text-shadow: 3px 3px 4px #000;
}
header h1 span.slogan{
	font-size: 0.6em;
	color: #ccc;
}
nav{
	width:30%;
	float: right;
	margin-right: 3em;
	border-radius: 5px;
}
nav a{
	display: block;
	color: #fff;
	text-decoration: none;
	background: rgba(255,255,255,0.1);
	text-shadow: 2px 2px 3px #000;
	font-size: 1.2em;
	padding: 5px 10px;
	letter-spacing: 3px;
	transition: all 0.4s ease-in-out;
	margin-bottom: 2px;
}
nav:hover a{
	text-shadow: 0px 0px 10px #fff;
	color: transparent;
}
nav a:hover{
	background: transparent;
	text-shadow: 1px 1px 10px rgba(71, 80,23, 0.6);
	color: #c4d85a;
}
.menuinicio{
	border-radius: 15px 15px 0 0;
}
.menufin{
	border-radius: 0 0 15px 15px;
}
main{
	width: 90%;
	margin: 0 auto;
}
h2{
	font-size: 3em;
	text-transform: uppercase;
	font-family: 'Josefin Slab';
}
.servicios, .database, .tipos, .contactos{
	padding: 14em 1em;
}
.serviciodetalle, .tipodetalle{
	width: 33%;
	background: #333;
	display: inline-block;
	color: #f3f3f3;
	text-align: justify;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
}
.serviciodetalle img, .tipodetalle img{
	width: 100%;
	transition: .5s ease-in-out;
	border-radius: 10px 10px 0 0;
}
.tipodetalle h3{
	padding: 0.5em 0;
	text-align: center;
}
.tipodetalle img:hover{
	border-radius: 50%;
	transform: rotate(360deg);
	box-shadow: 4px 4px 6px #fff;
}
.serviciodetalle img:hover{
	/*filter: grayscale(90%);*/
	filter: saturate(180%);
	transform: scale(1.3);
	transition: .5s ease-in-out;
}
.serviciodetalle h3,.serviciodetalle p{
	padding: 1em;
}
.serviciodetalle p{
	font-size: 0.8em;
}

footer{
	background: #000;
	color: #ccc;
	text-align: center;
}
footer h6{
	padding: 3em 0;
}

